/*
Font selection:
font-family: 'Anton', sans-serif;
font-family: 'Nunito Sans', sans-serif;

Colors:
Orange #fc5f1a
Navy #010833
Yellow #ffa500
*/

/* global style */
.pagecontent, body {
    background-color: #fc5f1a;
}

h1,
h2 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color:#010833;
}

p,
li {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color:#010833;
}

a {
    font-weight: 600;
    color: black;
    text-decoration: underline;
    text-decoration-color: #ffa500;
}

img {
    width: 100%;
}

@media (max-width:576px){
	.line1and3{
		font-size: 37px;
	}
	.line2{
		font-size:85px;
	}
	p,li{
		font-size: 15px;
		line-height: 1.75;
	}
	p.nameOrigin{
		font-size:15px;
		line-height: 1.75;
	}
}

/* navigation bar */
.navbar {
    margin-bottom: 5%;
}

/* story head */
/* title in global style */
/* double check how to get the spacing only on the bottom of the last line*/

.line1and3 {
    font-size: 60px;
}

.line2 {
    font-size: 120px;
}
.hed{
	margin-bottom:3%;
}

/* bio */
.bio {
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    text-align: center;
    margin-bottom: 5%;
}

/* graphic */
/* double check */
.graphic {
    display: block;
    margin: 0 auto 0 auto;
}

/* behind the hyphen */
/* header with h1 in global style */

.whiteBox {
    background-color: white;
    padding-top:-5%;
    padding-bottom:-5%;
    margin-top:2%;
    margin-bottom:2%;
}

/* need to get rid of orange bar on bottom

/* player profiles */
/* all spacing is incorrect */
.titleBox {
    background-color:#010833;
    margin-top:-2%;
    margin-bottom:-2%;
}

h2.playerName{
	color:#ffa500;
	font-size: 70px;
    letter-spacing: 2.5px;
    padding-top:2%;
    padding-bottom:2%;
}

.playerProfile {
    background-color: white;
    padding-top:2%;
    padding-bottom:2%;
    margin-top:2%;
    margin-bottom:2%;
}
.league{
	font-weight: 500;
	letter-spacing: 1.5px;
	color:#ffa500;
	margin:0;
}
/* full name is also in the global style with h2 */
h2.fullName{
	font-size: 30px;
	text-align:left;
	margin: 0;
	padding: auto;
}

p.nameOrigin{
	font-weight: 200;
	font-size: 16px;
	color:#010833;
}

/* horizontal rule */
.horizontal{
	border-top: 2px white solid;
	width: 25%;
	margin:0 auto;
}

/* data and methods */
.methods, .methodsTitle{
	font-size:14px;
}
p.methodsTitle{
	font-weight:600;
}

.credits{
	padding-bottom:5%;
}