/*
Font selection:
font-family: 'Oswald', sans-serif;
	weight options: 300 (regular), 500; 600;
font-family: 'Raleway', sans-serif;
	weight options: 
		200 (extra-light)
		300 (light)
		400 (regular and italic)
		800 (extra bold and italic);

Colors
gold: FFB905;
orange: F29807;
*/

/* global */

h1, h2{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

h1{
	font-size:85px;
	font-weight: 600;
	color:#FFB905;
}
h2{
	font-size: 60px;
	font-weight: 500;
	color:#F29807;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 22px ;
	color: #F29807;
}
#credit{
	text-align:center;
	font-weight:300;
	padding-top: 5%;
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight:400;
}

.embeds{
	background-color: #F29807;
}
blockquote{
	font-family: 'Raleway', sans-serif;
	font-size:30px;
	font-weight:400;
	font-style: italic;
	text-align: center;
	color:#733522;
}


a{
	color: #F29807;
	/* change hover */
}

audio{
max-width: auto;
position: center;}

.instagram-media{
padding-top:20%;
padding-bottom: 20%;
float:right;
}

.row{
	padding-top:2%;
	padding-bottom: 2%;
	padding-right:5%;
	padding-left:5%;
}

/* cards */
.tips{
	background-color:#733522;
}
a.title{
	color:#401E13;
}
h2.brand{

	font-size:50px;
	text-align: center;
}

p.card-text{
	font-style: italic;
	text-align:center;
	color:#401E13;
}

p.caption{
	color:#F29807;
	font-weight:300;
	font-style: italic;
}

#sid{
	font-size: 19px;
}

#jo{
	font-size:45px;
}

.card{
	background-color:#F29807;
	height:600px;
}

/* responsive design */
@media (max-width: 576px){
	h1{
		font-size:50px;
	}
	h2{
		font-size:45px;
	}
	p{
		font-size:13px;
	}
	h3{
		font-size:18px;
	}

}

