/*
Font selection
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Roboto Mono', monospace;
*/

/* global */

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:#ff8921;
}


h1 { /* edit for global */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;

}

#name {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    color: white; 
    background-color: #cccccc;
}

.nav {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.nav-top{
        margin-bottom: 10px;
}
.nav-bottom{
    margin-top: 20px;
}
.nav-pills .nav-link.active{
    background: #cccccc;
    color: black;
}

.nav-item{
    padding: 10px;
}

/* home page */
#homevj{
    font-size:40px;
    text-align: right;
}

/* about */
.blockquote p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

p {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

#aboutheadshot {
    width: 100%;
    height: auto;
}

.nav-bottom{
    background:#cccccc;
    padding: 2px;
}
i
{   font-size: 25px;
    color: #ff8921;
    margin-left:3px;
    margin-right: 3px;
}

