/*
Font selection
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Roboto Mono', monospace;
*/

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
}

#photoTextBlock {
    position: relative;
}
#carouselExampleIndicators{
    display:inline-block;
    max-width: 90%;
    position: relative;
}
#text-block{ /* needs to be responsive */
    display:inline-block;
    z-index:2;
    background-color: black;
    padding: 10px;
}
#text-block h1{
    font-size: 45px;
    color: white;
}

.nav-top{
    background-color: black;
}


.nav-item {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.active{
    background-color: pink;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;

}

.blockquote p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    margin: 30px;
    text-align: center;
}

.blockquote-footer {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}

p {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    margin: 30px;
    width: 75%;
}

#aboutheadshot {
    width: 100%;
    height: auto;
    margin: 10px;
}
