/*
Font selection
font-family: 'Cormorant Garamond', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

/*
Color selection (color.adobe.com, shades of ff8921)
#BF6719
#804411
#FF8921
#402208
#E67B1E
*/

/* global */

a {
    text-decoration: none;
    color: #402208;
}

a:hover {
    color: #FF8921;
}


h1 {
    /* edit for global */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    background: #CCCCCC;

}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #BF6719;

}

h3 h4 h5 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

h3 {
    font-size: 28px;
    color: #BF6719;
}

h4 {
    font-size: 21px;
    font-style: italic;
}

h4.res-job-title a.res-job-title {
    font-style: italic;
}

h4.res-job-title {
    color: #402208;
}

a.res-job-title:hover {
    color: #FF8921;
}

h5 {
    font-size: 15px;
    font-style: italic;
    color: #402208;
}

p {
    font-size: 15px;
    color: #804411;

}

ul {
    list-style-type: square;
    color: #402208;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.featuredimages {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}


.nav {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.nav-top {
    margin-bottom: 10px;
}

.nav-bottom {
    margin-top: 20px;
}

.nav-pills .nav-link.active {
    background: #CCCCCC;
    color: black;
}

.nav-item {
    padding: 10px;
}

/* home page */
.homevj {
    color:#FF8921;
    padding-top: 30px;
    font-size: 42px;
    text-align:right;
    background-color:#FFFFFF;
}

#homevjdesc{
    font-family: 'Cormorant Garamond', serif;
    list-style-type: none;
    text-align:right;
    font-size:35px;
    font-weight:700;
}

/* about */
.blockquote p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

/* clips */
hr {
    width: 100%;
}

/* resume */
.res-intro {
    text-align: center;
    margin-bottom: 10px;
}

.nav-bottom {
    background: #cccccc;
    padding: 2px;
}

/* contact */

label {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #FF8921;
    text-transform: uppercase;
}

i {
    font-size: 25px;
    color: #FF8921;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}